body {
  font-family: sans-serif;
}
h2 {
  color: black;
}
.start {
  background-color: whitesmoke;
  border-color: silver;
  outline: none;
}
.start:active {
  border: none;
  outline: none;
  background-color: steelblue;
  /*box-shadow: 0 1px #666;*/
  transform: translateY(4px);
  color: white;
}
input[type="number"] {
  box-sizing: border-box;
  border: 1 silver;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  width: 75px;
}

input[type="number"]:focus {
  border: 2px solid crimson;
}
.number {
  color: hotpink;
}
.numbers {
  color: hotpink;
}
